<div class="container-inner">
  <!-- Flight search -->
  <div class="flight-search-form-container" *ngIf="flightSearchFlag">
    <form [formGroup]="flightSearchForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <label for="originCity">Departure:</label>
          <select formControlName="departure" class="form-control">
              <option disabled>Select Origin City</option>
              <option>Choose Origin City</option>
              <option *ngFor="let city of originCityList">{{city}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="originCity">Destination:</label>
          <select formControlName="destination" class="form-control">
              <option disabled>Select destination city</option>
              <option>Choose destination City</option>
              <option *ngFor="let city of destinationCityList">{{city}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="departDate">Depart date:</label>
          <input id="departDate" type="date" formControlName="departDate" />
        </div>
        <div class="col-md-6">
          <label for="returnDate">Return date:</label>
          <input id="returnDate" type="date" formControlName="returnDate" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="traveller">Travellers:</label>
          <input id="traveller" type="number" formControlName="traveller" />
        </div>
        <div class="col-md-6">
          <label for="class">Class:</label>
          <select formControlName="class" class="form-control">
              <option disabled>Select class</option>
              <option>Select class</option>
              <option *ngFor="let class of flightclassList">{{class}}</option>
          </select>
        </div>
      </div>
      <div class="row btn-submit-section">
        <div class="col-md-12">
          <button class="btn btn-primary btn-lg" type="submit" [disabled]="!flightSearchForm.valid">Submit</button>
        </div>
        <div class="col-md-12" *ngIf="displayDuplicateError">
          <p>Origin and destination cannot be same.</p>
        </div>
      </div>
    </form>
  </div>
  <!-- Flight details -->
  <div class="flight-search-result-container" *ngIf="flightDetailsFlag">
    <app-flight-details [flightSearchData]="filteredArray"></app-flight-details>
  </div>
</div>
